<a href="https://colab.research.google.com/github/guigomez36/Personal/blob/main/Agregacion_semillerio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
df=None
#def myfunction(data):
#  print(data)

dir = '/content/drive/MyDrive/Colab Notebooks/DMEyF/competencia_FINAL/agrupacion_semillas/in'

for file in os.listdir(dir):
  print(file)
  if file.endswith(".csv"):
    new=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DMEyF/competencia_FINAL/agrupacion_semillas/in/' + file, sep='\t')
    new=new.sort_values(by='numero_de_cliente', ascending=True)
    if df is not None:
      df=pd.concat([df,new[['prob']]], axis=1)
    else:
      df=new[['numero_de_cliente','foto_mes','prob']]
    #myfunction(file)

pred_01_051_0211007.csv
pred_01_051_0238361.csv
pred_01_051_0240943.csv
pred_01_051_0304511.csv
pred_01_051_0389971.csv
pred_01_051_0396937.csv
pred_01_051_0409579.csv
pred_01_051_0456877.csv
pred_01_051_0457871.csv
pred_01_051_0510989.csv
pred_01_051_0553181.csv
pred_01_051_0651323.csv
pred_01_051_0689267.csv
pred_01_051_0693827.csv
pred_01_051_0713183.csv
pred_01_051_0720661.csv
pred_01_051_0746363.csv
pred_01_051_0823799.csv
pred_01_051_0947651.csv
pred_01_051_0985703.csv
ZZ9426_pred_01_051.csv
ZZ9426_pred_02_061.csv
exp_ZZ_9425_Semillerio_final_pred_01_051_0253417.csv
exp_ZZ_9425_Semillerio_final_pred_01_051_0304511.csv
exp_ZZ_9425_Semillerio_final_pred_01_051_0366193.csv
exp_ZZ_9425_Semillerio_final_pred_01_051_0409579.csv
exp_ZZ_9425_Semillerio_final_pred_01_051_0446983.csv
exp_ZZ_9425_Semillerio_final_pred_01_051_0515173.csv
exp_ZZ_9425_Semillerio_final_pred_01_051_0651323.csv
exp_ZZ_9425_Semillerio_final_pred_01_051_0713183.csv
exp_ZZ_9425_Semillerio_final_pred_01_051_0769999.csv
exp_ZZ_9425_Semillerio_final_pred_01_051_0823799.csv
exp_ZZ_9425_Semillerio_final_pred_01_051_0985703.csv
exp_ZZ_9325_Semillerio_final_pred_02_061_0221537.csv
exp_ZZ_9325_Semillerio_final_pred_02_061_0256561.csv
exp_ZZ_9325_Semillerio_final_pred_02_061_0434509.csv
exp_ZZ_9325_Semillerio_final_pred_02_061_0946091.csv
exp_ZZ_9325_Semillerio_final_1_pred_02_061_0117809.csv
exp_ZZ_9325_Semillerio_final_1_pred_02_061_0347671.csv
exp_ZZ_9325_Semillerio_final_1_pred_02_061_0382961.csv
exp_ZZ_9325_Semillerio_final_1_pred_02_061_0468889.csv
exp_ZZ_9325_Semillerio_final_1_pred_02_061_0567793.csv
exp_ZZ_9325_Semillerio_final_1_pred_02_061_0678607.csv
exp_ZZ_9325_Semillerio_final_1_pred_02_061_0702787.csv

In [ ]:
df.head()

,numero_de_cliente,foto_mes,prob,prob,prob,prob,prob,prob,prob,prob,...,prob,prob,prob,prob,prob,prob,prob,prob,prob,prob
0,31115668,202109,0.000932,0.000746,0.000614,0.000811,0.000727,0.000832,0.000812,0.000922,...,0.000610,0.000885,0.000826,0.000834,0.000837,0.000856,0.001067,0.001158,0.000804,0.001109
1,31115678,202109,0.000904,0.000824,0.000813,0.000758,0.000781,0.000913,0.000906,0.000883,...,0.001166,0.000846,0.001107,0.000969,0.001104,0.000806,0.001068,0.001141,0.000891,0.001062
2,31117415,202109,0.002504,0.002671,0.002779,0.002909,0.002781,0.002567,0.002987,0.002161,...,0.004191,0.003285,0.003196,0.004156,0.003802,0.003497,0.004325,0.002353,0.003192,0.003418
3,31117711,202109,0.000068,0.000067,0.000069,0.000065,0.000085,0.000052,0.000075,0.000063,...,0.000057,0.000058,0.000048,0.000070,0.000069,0.000057,0.000065,0.000061,0.000075,0.000052
4,31118145,202109,0.000662,0.000673,0.000756,0.000814,0.000770,0.000677,0.000586,0.000657,...,0.000637,0.000502,0.000521,0.000630,0.000510,0.000541,0.000692,0.000589,0.000630,0.000619

In [ ]:
df['mean'] = df.iloc[:, 2:(df.shape[1]-2)].mean(axis=1)

In [ ]:
df.head()

,numero_de_cliente,foto_mes,prob,prob,prob,prob,prob,prob,prob,prob,...,prob,prob,prob,prob,prob,prob,prob,prob,prob,mean
0,31115668,202109,0.000932,0.000746,0.000614,0.000811,0.000727,0.000832,0.000812,0.000922,...,0.000885,0.000826,0.000834,0.000837,0.000856,0.001067,0.001158,0.000804,0.001109,0.000831
1,31115678,202109,0.000904,0.000824,0.000813,0.000758,0.000781,0.000913,0.000906,0.000883,...,0.000846,0.001107,0.000969,0.001104,0.000806,0.001068,0.001141,0.000891,0.001062,0.000906
2,31117415,202109,0.002504,0.002671,0.002779,0.002909,0.002781,0.002567,0.002987,0.002161,...,0.003285,0.003196,0.004156,0.003802,0.003497,0.004325,0.002353,0.003192,0.003418,0.002816
3,31117711,202109,0.000068,0.000067,0.000069,0.000065,0.000085,0.000052,0.000075,0.000063,...,0.000058,0.000048,0.000070,0.000069,0.000057,0.000065,0.000061,0.000075,0.000052,0.000068
4,31118145,202109,0.000662,0.000673,0.000756,0.000814,0.000770,0.000677,0.000586,0.000657,...,0.000502,0.000521,0.000630,0.000510,0.000541,0.000692,0.000589,0.000630,0.000619,0.000698

In [ ]:
df_final=df[['numero_de_cliente', 'mean']].sort_values(by='mean', ascending=False)
df_final=df_final.reset_index()

In [ ]:
df_final.head()

    index  numero_de_cliente      mean
0  105647          117607104  0.902479
1  143069          156968062  0.898082
2  153011          176392144  0.893066
3   30732           61632780  0.888817
4  157239          185116647  0.880384

In [ ]:
df_final['Predicted_12000']=0
for i in range(12000):
  df_final['Predicted_12000'][i]=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df_final[['numero_de_cliente','Predicted_12000']].to_csv(dir + '/agrupado_12000.csv', index=False)