<a href="https://colab.research.google.com/github/guigomez36/Personal/blob/main/Agregacion_semillerio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [37]:
import os
df=None
#def myfunction(data):
#  print(data)

dir = '/content/drive/MyDrive/Colab Notebooks/DMEyF/competencia_FINAL/agrupacion_semillas/in'

for file in os.listdir(dir):
  if file.endswith(".csv"):
    new=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DMEyF/competencia_FINAL/agrupacion_semillas/in/' + file)
    new=new.sort_values(by='numero_de_cliente', ascending=True)
    if df is not None:
      df=pd.concat([df,new[['prob']]], axis=1)
    else:
      df=new[['numero_de_cliente','foto_mes','prob']]
    #myfunction(file)

In [55]:
df.head()

,numero_de_cliente,foto_mes,prob,prob,prob,prob,prob,prob,prob,prob,prob,prob,mean
0,31115668,202109,0.000941,0.000708,0.000694,0.000907,0.001071,0.000919,0.000860,0.000840,0.001000,0.000688,0.000868
1,31115678,202109,0.001017,0.001002,0.000721,0.000678,0.000811,0.001320,0.000960,0.000970,0.001075,0.000769,0.000935
2,31117415,202109,0.002802,0.003197,0.002719,0.003338,0.003599,0.003045,0.003761,0.004071,0.001883,0.003383,0.003316
3,31117711,202109,0.000079,0.000068,0.000052,0.000047,0.000059,0.000069,0.000063,0.000090,0.000045,0.000053,0.000066
4,31118145,202109,0.000637,0.000750,0.000686,0.000612,0.000638,0.000575,0.000518,0.000620,0.000699,0.000610,0.000630

In [57]:
df['mean'] = df.iloc[:, 2:(df.shape[1]-2)].mean(axis=1)

In [58]:
df.head()

,numero_de_cliente,foto_mes,prob,prob,prob,prob,prob,prob,prob,prob,prob,prob,mean
0,31115668,202109,0.000941,0.000708,0.000694,0.000907,0.001071,0.000919,0.000860,0.000840,0.001000,0.000688,0.000882
1,31115678,202109,0.001017,0.001002,0.000721,0.000678,0.000811,0.001320,0.000960,0.000970,0.001075,0.000769,0.000950
2,31117415,202109,0.002802,0.003197,0.002719,0.003338,0.003599,0.003045,0.003761,0.004071,0.001883,0.003383,0.003157
3,31117711,202109,0.000079,0.000068,0.000052,0.000047,0.000059,0.000069,0.000063,0.000090,0.000045,0.000053,0.000064
4,31118145,202109,0.000637,0.000750,0.000686,0.000612,0.000638,0.000575,0.000518,0.000620,0.000699,0.000610,0.000637

In [64]:
df_final=df[['numero_de_cliente', 'mean']].sort_values(by='mean', ascending=False)
df_final=df_final.reset_index()

In [65]:
df_final.head()

    index  numero_de_cliente      mean
0  105647          117607104  0.917569
1  143069          156968062  0.902680
2  153011          176392144  0.897181
3   30732           61632780  0.883577
4  157239          185116647  0.880949

In [66]:
df_final['Predicted_13000']=0
for i in range(13000):
  df_final['Predicted_13000'][i]=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [67]:
df_final.tail()

         index  numero_de_cliente      mean  Predicted_13000
164930  111658          123029040  0.000002                0
164931   58094           80750558  0.000002                0
164932   26726           59039630  0.000002                0
164933    2964           33018300  0.000002                0
164934   96275          110515073  0.000001                0

In [68]:
df_final[['numero_de_cliente','Predicted_13000']].to_csv(dir + '/agrupado_13000.csv', index=False)

In [69]:
df_final['Predicted_13500']=0
for i in range(13000):
  df_final['Predicted_13500'][i]=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [70]:
df_final[['numero_de_cliente','Predicted_13500']].to_csv(dir + '/agrupado_13500.csv', index=False)